ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    width: 180px;
    border: 1px lightgray solid;
    border-radius: 4px;
    margin: 4px;
    list-style: none;
    img {
      object-fit: cover;
      width: 180px;
      height: 180px;
      border-radius: 4px;
    }
    .placeholder {
      border-radius: 4px;
      width: 180px;
      height: 180px;
      background-color: lightgray;
    }
    .info {
      width: 160px;
      white-space: pre-wrap;
      word-wrap: break-word;
      padding: 0 8px;
    }
  }

  li:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}
