<div class="hello" *ngIf="auth.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
<div class="notifications">
  <button (click)="requestPermission()">
    Receive push notifications for new comments
  </button>
  <button (click)="deleteMyToken()">
    Stop receiving push notifications for new comments
  </button>
</div>
